<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fimbleenterprises.medimileage">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/milebuddy_gif_icon_fullsize"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/car2_static_round_tparent_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ReceiveShareForOppNote"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_receive_share_for_opp_note"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".OpportunityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_opportunity"
            android:theme="@style/AppThemeAlt" />
        <activity
            android:name=".IndividualAggregateStatsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_individual_aggregate_stats"
            android:theme="@style/AppThemeAlt" />
        <activity
            android:name=".FullscreenActivityChooseTerritory"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_choose_territory"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FullscreenAltTheme" />
        <activity
            android:name=".FullscreenActivityChooseRep"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_choose_territory"
            android:theme="@style/FullscreenAltTheme" />
        <activity
            android:name=".FullscreenActivityChooseOpportunity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_choose_opportunity"
            android:theme="@style/FullscreenAltTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="application/x-7z-compressed" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/calendar" />
                <data android:mimeType="audio/mpeg" />
                <data android:mimeType="audio/wav" />
                <data android:mimeType="audio/3gpp2" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/vnd.ms-powerpoint" />
                <data android:mimeType="application/msword" />
                <data android:mimeType="application/vnd.ms-excel" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/vnd.ms-outlook" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AggregateStatsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_aggregate_stats"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity_Widgets"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_widgets"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.settings.mileage.SettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity_TerritoryData"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity__sales_performance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ViewTripActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_view_trip"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity_ManualTrip"
            android:configChanges="orientation|keyboardHidden"
            android:label="Add Manual Trip"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".UserTripsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Trips"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAlt"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyLocationService"
            android:enabled="true" />
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".MyAttachmentUploadService"
            android:enabled="true" />
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>