<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fimbleenterprises.medimileage">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/milebuddy_gif_icon_fullsize"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/car2_static_round_tparent_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ViewEmailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_view_email"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".activities.EmailsFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_emails_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".StreetViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_street_view"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activities.CreateQuoteScrollingActivity"
            android:label="@string/title_activity_create_quote_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.QuoteActivity"
            android:label="@string/title_activity_quote"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UsageMetricsActivity"
            android:label="@string/title_activity_metrics"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.PermissionsActivity"
            android:label="@string/title_activity_permissions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ActivityAssociatedOpportunities"
            android:label="@string/title_activity_associated_opportunities"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Activity_ParkingMap"
            android:label="@string/title_activity_parking_buddy"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dialogs.fullscreen_pickers.FullscreenAccountTerritoryPicker"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_pick_account_territory" />
        <activity
            android:name=".dialogs.fullscreen_pickers.FullscreenActivityChooseRecentTrip"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_pick_recent_trip" />
        <activity
            android:name=".dialogs.fullscreen_pickers.FullscreenActivityBasicObjectPicker"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_pick_basic_object" />
        <activity
            android:name=".activities.ActivityReceiveContact"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_receive_contact"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/x-vcard" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BasicEntityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/AppThemeBasicActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="crmauth.medistim.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SearchResultsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_search_results"
            android:theme="@style/AppThemeSearch">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ReceiveShareForOppNote"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_receive_share_for_opp_note"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activities.OpportunityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_opportunity"
            android:theme="@style/AppThemeAlt" />
        <activity
            android:name=".activities.IndividualAggregateMileageStatsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_individual_aggregate_stats"
            android:theme="@style/AppThemeAlt" />
        <activity
            android:name=".dialogs.fullscreen_pickers.FullscreenActivityChooseTerritory"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_choose_territory"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/FullscreenAltTheme" />
        <activity
            android:name=".dialogs.fullscreen_pickers.FullscreenActivityChooseRep"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_choose_territory"
            android:theme="@style/FullscreenAltTheme" />
        <activity
            android:name=".dialogs.fullscreen_pickers.FullscreenActivityChooseAccount"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_choose_account"
            android:theme="@style/FullscreenAltTheme" />
        <activity
            android:name=".dialogs.fullscreen_pickers.FullscreenActivityChooseContact"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_choose_contact"
            android:theme="@style/FullscreenAltTheme" />
        <activity
            android:name=".dialogs.fullscreen_pickers.FullscreenActivityChooseOpportunity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_choose_opportunity"
            android:theme="@style/FullscreenAltTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="application/x-7z-compressed" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/calendar" />
                <data android:mimeType="audio/mpeg" />
                <data android:mimeType="audio/wav" />
                <data android:mimeType="audio/3gpp2" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/vnd.ms-powerpoint" />
                <data android:mimeType="application/msword" />
                <data android:mimeType="application/vnd.ms-excel" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/vnd.ms-outlook" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AggregateMileageStatsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_aggregate_stats"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.Activity_AccountData"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_widgets"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBasicAccountDataCustomToolbar"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.Activity_CompanyWideData"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_cpywide"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBasicCpyWideCustomToolbar"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.ui.settings.SettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.Activity_TerritoryData"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity__sales_performance"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBasicTerritoryDataCustomToolbar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.Activity_SalesQuotas"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity__sales_performance"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBasicCustomToolbar"
            tools:ignore="LockedOrientationActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.ViewTripActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_view_trip"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.Activity_ManualTrip"
            android:configChanges="orientation|keyboardHidden"
            android:label="Add Manual Trip"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.UserTripsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Trips"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAlt"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
 This may be implemented in the future to detect SMS messages received and update relevant opportunities/contacts
             It's worth mentioning that it can only detect received SMS NOT SENT so it's of limited value
        -->
        <!--
<receiver android:name=".SMSReceiver" android:exported="true" android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        -->
        <service
            android:name=".services.MyLocationService"
            android:enabled="true" />
        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.ServerTripSyncService"
            android:enabled="true" />
        <service
            android:name=".services.MyAttachmentUploadService"
            android:enabled="true" />
        <service
            android:name=".services.MyContactUploadService"
            android:enabled="true" />
        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>